<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2024 WitAqua
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:allowBackup="false"
    package="tokyo.witaqua.DndLegacyIcons">
    <overlay android:priority="1500" android:targetPackage="android"/>

    <application android:hasCode="false"/>
</manifest>
