#
#  Copyright (C) 2024 WitAqua
#
#  SPDX-License-Identifier: Apache-2.0
#

on property:audio.camerasound.force=true && property:persist.sys.camera.sound.disable=true
    setprop audio.camerasound.force false
